
ipywidgets==8.1.7
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.3
pillow==11.3.0
pyparsing==3.2.5
pytz==2025.2
requests==2.32.5
setuptools==78.1.1
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
widgetsnbextension==4.0.14